ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1%;
  list-style: none;
  width: auto; 
}
li{
  cursor: pointer;
}
.header_image{
  text-align: center;
}
.header_image img {
  width: 80%;
}
.tit{
  color: #42c0d2;
  position: relative;
    width:70%;
    background: linear-gradient(45deg, #ffb2cb,#c0eefe,#f7f75f);
    border-radius: 30px;
    margin: 0 auto 3%;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    
}
.caution{
  text-align: center;
}
.nav_bar{
  display: flex;
  align-items: center;
  width:100%;
  border-bottom: 5px solid #FAFAFA;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left:40px;
}
.para{
  font-weight: bold;
  font-size: 20px;
  padding-left:20px;
  cursor: pointer;

}
.nav_imgs img{
  width:80%;
}
.table_head{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.songNamePara{
  font-size: 20px;
  font-weight: bold;
}